<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Rooms</title>
    <style>
      .testimonial {
        border: 2px solid #ccc;
        background-color: #eee;
        border-radius: 5px;
        padding: 16px;
        margin: 16px 0
      }
      
      .testimonial::after {
        content: "";
        clear: both;
        display: table;
      }
      
      .testimonial img {
        float: left;
        margin-right: 20px;
        border-radius: 50%;
      }
      
      .testimonial span {
        font-size: 20px;
        margin-right: 15px;
      }
      
      @media (max-width: 500px) {
        .testimonial {
            text-align: center;
        }
        .testimonial img {
            margin: auto;
            float: none;
            display: block;
        }
      }
      </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Hotel Vivanta Palace</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/rooms">Rooms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> <a href="/loginPage">Log In</a></button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> <a href="/registerPage">Register</a></button>
          </form>
        </div>
      </nav>
      
    <center><h1>Exotic Rooms By Vivanta</h1></center>

    <div class="container">
      <div class="image">
        <img src="/static/1.jpeg" style="width:600px;height:350px;float:left;margin-right:10px">
      </div>
      <div class="text">
        <p vertical-align:"top">
          <h1>Luxury Room Lake View</h1>
          Luxury Rooms have a princely-inspired décor with wooden lattice and araish work ceilings and discrete niches. They offer views of the placid waters of Lake Pichola. Each room is unique in size and is adorned with traditional Indian silks and dark teak furniture.
          <center><p><b>₹ 6,000</b> per night<br>
            <button type="button" class="btn btn-info"><a href="/registerPage">Book Now</a></button></p></center>
          <br><br><br><br><br><br><br>
        </p>
      </div>
      <div class="image">
        <img src="/static/2.jpeg" style="width:600px;height:350px;float:left;margin-right:10px">
      </div>
      <div class="text">
        <p vertical-align:"top">
          <h1>Palace Room Lake View</h1>
          Palace Rooms have a princely-inspired décor with wooden lattice and araish work ceilings and discrete niches. They offer views of the placid waters of Lake Pichola. Each room is unique in size and is adorned with traditional Indian silks and dark teak furniture.
          <center><p><b>₹ 7,000</b> per night<br>
            <button type="button" class="btn btn-info"><a href="/registerPage">Book Now</a></button></p></center>
          <br><br><br><br><br><br><br>
        </p>
      </div>
      <div class="image">
        <img src="/static/3.jpeg" style="width:600px;height:350px;float:left;margin-right:10px">
      </div>
      <div class="text">
        <p vertical-align:"top">
          <h1>Royal Suite 1 Bedroom Lake View</h1>
          Outfitted in impeccable designs, each of the Royal Suites are adorned with stained glass windows offering stunning views of the lake and the Aravali mountain range. Suite Names are Basant Bahar, Machla Magra, Jag Mandir Darshan and Aravali Darshan. Basant Bahar and Jag Mandir Darshan are interconnected.
          <center><p><b>₹ 8,000</b> per night<br>
            <button type="button" class="btn btn-info"><a href="/registerPage">Book Now</a></button></p></center>
          <br><br><br><br>
        </p>
      </div>
      <div class="image">
        <img src="/static/4.jpeg" style="width:600px;height:350px;float:left;margin-right:10px">
      </div>
      <div class="text">
        <p vertical-align:"top">
          <h1>Grand Royal Suite 1 Bedroom Lake View</h1>
          The Grand Royal Suites are the epitome of royal grandeur. Each of these individually themed suites feature high ceilings, deeply-carved mouldings, ornate glasswork, and miniature paintings. Many rooms offers unique features: Jacuzzi tubs, marble clad bathrooms with switch-lite glass windows, rain-showers, original works of art, crystal chandeliers.
          <center><p><b>₹ 10,000</b> per night<br>
            <button type="button" class="btn btn-info"><a href="/registerPage">Book Now</a></button></p></center>
          <br><br><br>
        </p>
      </div>
    

    <div class="image">
      <img src="/static/5.jpeg" style="width:600px;height:350px;float:left;margin-right:10px">
    </div>
    <div class="text">
      <p vertical-align:"top">
        <h1>Grand Presidential Suite 1 Bedroom Lake View</h1>
        The Shambhu Prakash suite, named after the Maharana Shambhu Singh is remembered for his progressive reforms and welfare measures undertaken in the 1860s. This suite is furnished with high curved arches and has a European touch to its design. The adjoining balcony offers panoramic views of the lake and hills.
        <center><p><b>₹ 12,000</b> per night<br>
          <button type="button" class="btn btn-info"><a href="/registerPage">Book Now</a></button></p></center>
        <br><br><br><br>
      </p>
    </div>
    <div class="image">
      <img src="/static/6.jpeg" style="width:600px;height:350px;float:left;margin-right:10px">
    </div>
    <div class="text">
      <p vertical-align:"top">
        <h1>Luxury Room Garden Non Lake View</h1>
        Luxury Rooms offer princely-inspired décor with stunning views of the Lily Pond. Each room is unique in size and is adorned with traditional Indian silks and dark teak furniture.
        <center><p><b>₹ 15,000</b> per night<br>
          <button type="button" class="btn btn-info"><a href="/registerPage">Book Now</a></button></p></center>
        <br><br><br><br><br><br>
      </p>
    </div>
    <div class="image">
      <img src="/static/7.jpeg" style="width:600px;height:350px;float:left;margin-right:10px">
    </div>
    <div class="text">
      <p vertical-align:"top">
        <h1>Historical 1 Bedroom Suite Lake View</h1>
        The Historical Suites present a welcoming ambience with marble floors, exquisite Rajasthani artwork and sheer fabrics, which enable crisp sunlight to enhance the beauty of each room. A four-poster bed, a sitting area overlooking Lake Pichola, a walk-in wardrobe and a spacious bathroom make these suites ideal for the discerning leisure traveler. Suite Names are Rang Mahal, Sandhya and Sisarma Darshan.
        <center><p><b>₹ 18,000</b> per night<br>
          <button type="button" class="btn btn-info"><a href="/registerPage">Book Now</a></button>
          </p></center>
        <br><br><br><br><br>
      </p>
    </div>
  </div>
    
    </div>

    <div class="testimonial">
      <p><span>The Vivanta, Udaipur</span> © The Vivanta Udaipur 2022. All Rights Reserved.</p>
      <p><h3>Follow Us</h3></p>
      <img src="/static/12.jpg" alt="Avatar" style="width:200px">
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
  </body>
</html>